#main-content{
	margin: 0;
	width: auto;
	padding: 0;
	background: #fff;
	
}
#registro{
	position: left;
}
#sidebar{
    
    width: 400px;
    height: 950px; 
    float:left;
    margin-right: 4px;
}
 .login{
    top: calc(10% - 75px);
    left: calc(10% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}
.login label[type=text]{
	margin:0;
	padding:0;
	font-weight: bold;
	display:block;
	color: #aaa;
	font-size: 30px;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #17202A;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #17202A;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button],input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #17202A;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button],input[type=submit]:hover{
	opacity: 0.8;
}

.login input[type=button],input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button],input[type=submit]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.content {
    background-image: url(../img/Registro.jpg);
    background-size: cover;
    width: 60%;
    min-height: 950px;
    float: right;
}